body {
  background-color: red;
  color: : white;
}
title {
  font-style: italics
}
@media screen and (min-width: 480px) {
  body {
    background-color: black;
    color: white;
  }
}
h2 {
  font-style: italic;
  text-align: center;
}
